.container > div {
  border: 1px solid blue;
}

.grid-container > div {
  border: 1px solid red;
}
.container {
  display: flex;
  justify-content: space-around;
}
.grid-container {
  display: grid;
  grid-template-columns: 100px 100px;
  gap: 15rem;
  align-items: center;
  
.child {
  align-self: center;
}
