* {
  padding: 0px;
  margin: 0px;
}
.container {
  height: 688px;
  width: 892px;
  border: 1px solid black;
  margin-left: 390px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.body1 img {
  height: 37px;
  margin-bottom: 30px;
}
.body1 {
  margin-top: 30px;
  margin-left: 30px;
}
.body1 h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.name {
  display: flex;
  flex-direction: column;
}
.firstname {
  font-size: 14px;
  height: 20px;
  padding: 9px 9px;
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid black;
}
.marginleft {
  margin-left: 5px;
}
.width {
  width: 374px;
}
.flex {
  display: flex;
  flex-direction: column;
}
.paddingless {
  margin-left: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.paddingless2 {
  margin-left: 14px;
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.paddingless3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-left: 14px;
}
.blue {
  cursor: pointer;
  color: rgb(107, 107, 255);
  font-size: 21px;
  margin: 0;
  padding: 0;
}
.blue2 {
  margin-bottom: 20px;
}
.box {
  display: flex;
  margin-top: 20px;
}
.box input {
  margin-right: 36px;
  width: 40px;
  height: 24px;
  cursor: pointer;
}
.next {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.btn {
  font-size: 16px;
  padding: 7px 31px 9px 26px;
  background-color: rgb(107, 107, 255);
  color: white;
  border: 2px solid rgb(107, 107, 255);
  cursor: pointer;
}
.btn:hover {
  box-shadow: 2px 2px 20px #888888;
}
.pass {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.body2 {
  margin-top: 150px;
}
